body{
    background-image: url(pictures/guitar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    background-color: burlywood;
    background-image: linear-gradient(to right, darkgrey, grey);
    box-shadow: 3px 5px 3px black;
}
h1 {
    color: antiquewhite;
    text-shadow: 2px 8px  5px black;
}
h2 {
    color: rgb(255, 220, 255);
    text-shadow: 4px 4px 3px black;
}
.borderImg {
    border: 5px solid sandybrown;
}