html {
    font-family: "Chalkboard SE", serif, "Apple Braille";
}

body{

    /*background-image: url(pictures/guitar.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-color: grey;
    text-align: justify;
}

h1, h3, h4 {
    color: antiquewhite;
    line-height: 2.5em;
    font-style: italic;
}

h2 {
    color: rgb(255, 220, 255);
    font-size: 60px;
    font-style: normal;
}

.borderImg {
    border: 5px solid sandybrown;
}

ul li {
    color: orange;
    font-size: 20px;
}

ul > li {
    color:red;
}

.formatting {
    font-size: 25px;
    line-height: 2em;
    color: white;

}

a {
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    word-spacing: 20px;
    text-transform: uppercase;
}